[bumpversion]
current_version = 0.0.29
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:dpks/dataset_image_animals_ann/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_image_animals/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_text_recipes/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/retail_products/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/vehicle_dashcam_image/dataloop.json]
search = "{current_version}"
replace = "{new_version}"