[bumpversion]
current_version = 0.0.43
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:dpks/dataset_image_animals_ann/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_image_animals/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_text_recipes/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/retail_products/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/vehicle_dashcam_image/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_nim_pdf_bank_mortgage/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_nim_text_bank_mortgage/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_openai_pdf_transactions/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_openai_text_transactions/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/medical_dataset/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_nim_vss_source_videos/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_nim_vss_text_chunks/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_contracts_caud/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:dpks/dataset_contracts_caud_chunks/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

